/* line 3, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 6, ../sass/_grid.scss */
.col-1, .col-m-1, .col-l-1, .col-2, .col-m-2, .col-l-2, .col-3, .col-m-3, .col-l-3, .col-4, .col-m-4, .col-l-4, .col-5, .col-m-5, .col-l-5, .col-6, .col-m-6, .col-l-6, .col-7, .col-m-7, .col-l-7, .col-8, .col-m-8, .col-l-8, .col-9, .col-m-9, .col-l-9, .col-10, .col-m-10, .col-l-10, .col-11, .col-m-11, .col-l-11, .col-12, .col-m-12, .col-l-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
 /* background-color: rgba(0, 0, 0, 0.2);*/
 /*  border-left: 1px solid rgba(0, 0, 0, 0.5); */
}

/* line 16, ../sass/_grid.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 21, ../sass/_grid.scss */
.row:after {
  clear: both;
}
/* line 24, ../sass/_grid.scss */
.row {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

/* line 28, ../sass/_grid.scss */
.row {
  margin: 0;
}

/* line 33, ../sass/_grid.scss */
.col-center {
  margin: auto;
  float: none;
}

/* line 43, ../sass/_grid.scss */
.col-1 {
  width: 8.33333%;
}

/* line 46, ../sass/_grid.scss */
.col-push-1 {
  left: 8.33333%;
}

/* line 43, ../sass/_grid.scss */
.col-2 {
  width: 16.66667%;
}

/* line 46, ../sass/_grid.scss */
.col-push-2 {
  left: 16.66667%;
}

/* line 43, ../sass/_grid.scss */
.col-3 {
  width: 25%;
}

/* line 46, ../sass/_grid.scss */
.col-push-3 {
  left: 25%;
}

/* line 43, ../sass/_grid.scss */
.col-4 {
  width: 33.33333%;
}

/* line 46, ../sass/_grid.scss */
.col-push-4 {
  left: 33.33333%;
}

/* line 43, ../sass/_grid.scss */
.col-5 {
  width: 41.66667%;
}

/* line 46, ../sass/_grid.scss */
.col-push-5 {
  left: 41.66667%;
}

/* line 43, ../sass/_grid.scss */
.col-6 {
  width: 50%;
}

/* line 46, ../sass/_grid.scss */
.col-push-6 {
  left: 50%;
}

/* line 43, ../sass/_grid.scss */
.col-7 {
  width: 58.33333%;
}

/* line 46, ../sass/_grid.scss */
.col-push-7 {
  left: 58.33333%;
}

/* line 43, ../sass/_grid.scss */
.col-8 {
  width: 66.66667%;
}

/* line 46, ../sass/_grid.scss */
.col-push-8 {
  left: 66.66667%;
}

/* line 43, ../sass/_grid.scss */
.col-9 {
  width: 75%;
}

/* line 46, ../sass/_grid.scss */
.col-push-9 {
  left: 75%;
}

/* line 43, ../sass/_grid.scss */
.col-10 {
  width: 83.33333%;
}

/* line 46, ../sass/_grid.scss */
.col-push-10 {
  left: 83.33333%;
}

/* line 43, ../sass/_grid.scss */
.col-11 {
  width: 91.66667%;
}

/* line 46, ../sass/_grid.scss */
.col-push-11 {
  left: 91.66667%;
}

/* line 43, ../sass/_grid.scss */
.col-12 {
  width: 100%;
}

/* line 46, ../sass/_grid.scss */
.col-push-12 {
  left: 100%;
}

@media only screen and (min-width: 640px) {
  /* line 52, ../sass/_grid.scss */
  .col-m-center {
    margin: auto;
    float: none;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-1 {
    width: 8.33333%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-2 {
    width: 16.66667%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-3 {
    width: 25%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-4 {
    width: 33.33333%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-5 {
    width: 41.66667%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-6 {
    width: 50%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-7 {
    width: 58.33333%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-8 {
    width: 66.66667%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-9 {
    width: 75%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-10 {
    width: 83.33333%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-11 {
    width: 91.66667%;
  }

  /* line 57, ../sass/_grid.scss */
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 64, ../sass/_grid.scss */
  .col-l-center {
    margin: auto;
    float: none;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-1 {
    width: 8.33333%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-2 {
    width: 16.66667%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-3 {
    width: 25%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-4 {
    width: 33.33333%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-5 {
    width: 41.66667%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-6 {
    width: 50%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-7 {
    width: 58.33333%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-8 {
    width: 66.66667%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-9 {
    width: 75%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-10 {
    width: 83.33333%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-11 {
    width: 91.66667%;
  }

  /* line 69, ../sass/_grid.scss */
  .col-l-12 {
    width: 100%;
  }
}
